@media (orientation: portrait)  { /* smartphones, iPhone, portrait 480x320 phones */
    
    #button-window-container #page-buttons {
        display: flex;
        gap: 2vw;
        justify-content: center;
        padding: 0;
    }

    .button-window #page-buttons li{
        width: 15%;
        height: 4vh;
    }

    .button-window #page-buttons li .icon {
        font-size: 2vh;
    }

}

@media (orientation: landscape) {

    #button-window-container #page-buttons {
        display: flex;
        gap: 2vw;
        justify-content: center;
        margin-top: 0;
        padding: 0;
    }

    .button-window #page-buttons li {
        width: 8vw;
        height: 5vh;
    }

    .button-window #page-buttons li .icon {
        font-size: 3vh;
    }

    .button-window #page-buttons li:hover .icon {
        transform: scale(0);
        transition-delay: 0s;
    }

    .button-window #page-buttons li:hover {
        background: rgb(37,37,37);
        border: .25vh solid rgb(37,37,37);
    }

    .button-window #page-buttons li:hover .title {
        transform: scale(1);
        transition-delay: 0.2s;
    }

}

.button-window #page-buttons li {
    background: rgb(60,60,60);
    border: .25vh solid white;
    border-radius: 1vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-window #page-buttons li .icon {
    color: white;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.button-window #page-buttons li span {
    position: absolute;
}

.button-window #page-buttons li .title {
    color: darkred;
    font-size: 1.8vh;
    text-transform: uppercase;
    transform: scale(0);
    transition: 0.2s;
    transition-delay: 0s;
}


