@media only screen and (orientation: landscape) {

    .contact-container {
        height: 100%;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 100%; 
        gap: 0px 5%; 
        grid-template-areas: 
          "info-boxes contact-form"; 
    }

    .info-boxes { 
        text-align: left;
        grid-area: info-boxes;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .contact-form {
        text-align: right;
        grid-area: contact-form; 
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .contact-box {
        width: 13vw;
        max-height: 20vh;
    }

}

@media only screen and (orientation: portrait) {

    .contact-container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 100%; 
        gap: 0px 5%; 
        grid-template-areas: 
          "info-boxes contact-form"; 
    }

    .info-boxes { 
        text-align: left;
        grid-area: info-boxes;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .contact-form {
        text-align: right;
        grid-area: contact-form; 
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .contact-box {
        width: 18vw;
        max-height: 25vh;
    }

}

#contact {
    margin: 5%;
}

#contact h2 {
    text-transform: uppercase;
    font-size: 22px;
    color: white;
}

#contact h3 {
    font-size: 16px;
    color: white;
}

.info-boxes {
    margin-bottom: 5%;
}

.contact-box {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 20%;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(60,60,60);
    margin-bottom: 10%;
    transition: .5s;
}

.contact-box:hover {
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    background-color: rgb(26, 26, 26);
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.1);
    transition: .2s;
    transition-delay: .25s;
}

.contact-box a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    text-decoration: none;
}

.contact-box:hover a i {
    color: darkred;
    transition: .5s;
    transition-delay: .25s;
}

.contact-form a {
    font-size: 18px;
    color: white;
}

.contact-form form {
    text-align: right;
    justify-content: flex-end;
    display: block;
}

.contact-form form .input-box {
    display: block;
    margin-top: 3%;
}

.contact-form form .input-box a {
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
}

.contact-form form .input-box input {
    background-color: rgb(60,60,60);
    border: 2px solid darkred;
    border-radius: 5px;
    font-size: 18px;
    width: 50%;
    margin-top: 5px;
    color: white;
    min-width: fit-content;
    transition: 1s;
}

.contact-form form .input-box input:focus {
    width: 90%;
    color: white;
    transition: 1s;
}

.contact-form form .input-box textarea {
    background-color: rgb(60,60,60);
    border: 2px solid darkred;
    border-radius: 5px;
    font-size: 18px;
    width: 98%;
    max-width: 600px;
    height: 150px;
    max-height: 150px;
    margin-top: 5px;
    overflow-y: scroll;
    color: white;
    resize: none;
}

.contact-form form .input-box textarea:focus {
    transition: 1s;
}

.contact-form form #submit-button {
    width: fit-content;
    margin-top: 5%;
    background-color: rgb(60,60,60);
    border: 2px solid darkred;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    align-self: center;
}


